WBPORT.com へのご登録ありがとうございます。
下記リンクをクリックして登録を完了させてください。

$context_url/guest.jsp/#confirm/$auth_token

登録完了後はすぐにパスワードを設定願います。
設定したパスワードは、WBPORT.comへのログインの他、お客様のWebサーバを
WBPORT.comのサーバとVPN接続するためにも使用されます。

ご不明な点がありましたらこのメールへの返信にてご質問ください。

このメールは
$context_url/guest.jsp/#signup
から送信されています。お心当たりのない場合はどなたかがメールアドレスの
入力を間違えたことが考えられますので、お手数ですが本メールを削除願います。

---
ワルブリックス株式会社
WBPORT.comサポート担当 <support@wbport.com>
http://www.wbport.com
