<!DOCTYPE html>
<html lang="ja" ng-app="WbPortAdmin">
<head>
    <meta charset="UTF-8">
    <title>あどみそ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
    <script src="./js/app.js"></script>
</head>
<body>
    <div class="container">
        <h1>あどみそ</h1>
        <h2>宛先</h2>
        <textarea class="form-control" rows="10" ng-model="recipients"></textarea>
        <h2>題名</h2>
        <input type="text" class="form-control" ng-model="subject">
        <h2>文面</h2>
        <textarea class="form-control" rows="10" ng-model="body"></textarea>
        <button class="btn btn-default" ng-click="sendEmail()">発射</button>
    </div>
</body>
</html>
