<!DOCTYPE html>
<html lang="ja" ng-app="WbPort">
<head>
    <meta charset="UTF-8">
    <title>WBPORT.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.10/angular-locale_ja-jp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
    <script src="./js/app.js"></script>
</head>
<body class="page page-index-static">

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><span class="navbar-brand">WBPORT.com</span></a>
        </div>
        <div class="navbar-collapse collapse" ng-show="account.email">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{account.email}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--
                                      <li class="dropdown-header">アカウント</li>
                                      <li><a href="/dashboard/account.html">設定</a></li>
                                      <li><a href="/dashboard/bill.html">利用料金</a></li>
                                      <li class="divider"></li>
                        -->
                        <li><a href="" ng-click="logout()">ログアウト</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div class="container" style="margin-bottom:2em;">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">基本情報</h4>
                </div>
                <div class="panel-body" ng-controller="BasicInfo">
                    <p>メールアドレス: {{info.email}}<br>料金プラン: 先行テストユーザー(無料)</p>
                    <button class="btn btn-primary" ng-click="changePassword()">パスワード変更</button>
                    <p ng-show="info.$resolved && !info.passwordPresent" class="text-danger">パスワードが未設定です。すぐに設定してください！</p>
                    <p ng-show="message" class="text-danger">{{message}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">登録済みサーバ</h4>
                </div>
                <div class="panel-body" ng-controller="Server">
                    <p>HTTP通信を中継してインターネット側に公開するサーバの一覧です。</p>
                    <table class="table">
                        <thead><tr>
                            <td>FQDN <a ng-click="help('fqdn')" href=""><span class="glyphicon glyphicon-question-sign"></span></a></td><td></td>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="server in servers">
                            <td><a href="http://{{server.fqdn}}" target="_blank">{{server.fqdn}}</a></td>
                            <td><button class="btn btn-danger" ng-click="delServer(server.fqdn)">削除</button></td>
                        </tr>
                        <tr ng-show="servers.length < 5">
                            <td>
                                <form name="addServerForm">
                                    <input type="text" ng-model="fqdn" class="form-control" ng-required="true" ng-minlength="4" ng-maxlength="30" ng-pattern="/^([A-Za-z0-9][A-Za-z0-9\-]{1,61}[A-Za-z0-9]\.)+[A-Za-z]+$/">
                                    <p class="help-block">好きな名前.wbport.com<br>例: myowncloud.wbport.com</p>
                                    <span ng-show="error" class="text-danger">{{error}}</span>
                                </form>
                            </td>
                            <td><button class="btn btn-primary" ng-disabled="!addServerForm.$valid" ng-click="addServer()">追加</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="domains.length > 0">
                        <h5>wbport.com以外に承認されたドメイン</h5>
                        <span ng-repeat="domain in domains">{{domain}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">サポート</h4>
        </div>
        <div class="panel-body">
            <p>設定・接続に関するお問い合せや、この画面から行えない設定変更のご依頼などは下記にご連絡ください。</p>
            email: <a href="mailto:support@wbport.com">support@wbport.com</a> (ワルブリックス株式会社 サポート担当)<br>
            Facebookメッセージ: <a href="http://www.facebook.com/messages/wbrxcorp">ワルブリックス株式会社</a><br>
            お電話: 050-3159-5792 (ワルブリックス株式会社 サポート担当)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">接続の設定方法</h4>
        </div>
        <div class="panel-body">
            <tabset>
                <tab heading="Walbrixの場合">
                    <img class="img-responsive" src="./img/walbrix01.png">
                    <img class="img-responsive" src="./img/walbrix02.png">
                    <img class="img-responsive" src="./img/walbrix03.png">
                    <img class="img-responsive" src="./img/walbrix04.png">
                </tab>
                <tab heading="OpenVPNを直接設定する場合">
                    <h5>/etc/openvpn/openvpn.conf</h5>
                    <p>OpenVPNの設定ファイルです。caで始まる行は、お使いの環境に合ったものを記述してください。</p>
        <pre>client
dev tun
remote hub.wbport.com
ca /etc/ssl/certs/ca-certificates.crt # Debian系, Gentooの場合
ca /etc/ssl/certs/ca-bundle.crt # RedHat系の場合
auth-user-pass auth.txt
fragment 1300
mssfix
nobind
float
ping 60</pre>
                    <h5>/etc/openvpn/auth.txt</h5>
                    <p>OpenVPNの接続時に使用する認証情報のファイルです。このテキストファイルの1行目にサーバ公開用のFQDN、2行目にパスワードを記述</p>
        <pre>xxxxxx.wbport.com
PaSsWorD</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright 2014 &copy; <a href="http://www.walbrix.com/jp/">Walbrix Corporation</a></p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline footer-menu">
                    <!--
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                    -->
                    <li><a href="http://www.walbrix.com/jp/contact.html">お問い合わせ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
