<form name="form" class="form-horizontal">
    <h3 class="title-divider"><span>ログイン</span></h3>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">メールアドレス</label>
        <div class="col-sm-9" ng-class="{'has-success':(form.email.$valid && form.email.$dirty),'has-error':form.email.$invalid && form.email.$dirty}">
            <input type="email" id="email" name="email" ng-model="email" class="form-control" ng-required="true">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">パスワード</label>
        <div class="col-sm-9" ng-class="{'has-success':(form.password.$valid && form.password.$dirty),'has-error':form.password.$invalid && form.password.$dirty}">
            <input type="password" id="password" name="password" ng-model="password" class="form-control" ng-required="true">
        </div>
    </div>
    <span class="text-danger" ng-show="error">{{ error }}<br></span>
    <button ng-click="login()" ng-disabled="!form.$valid" class="btn btn-primary">ログイン</button>
    <a href="#/signup">新規登録</a>
</form>
