<!DOCTYPE html>
<html lang="ja" ng-app="WbPort">
<head>
    <meta charset="UTF-8">
    <title>WBPORT.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.10/angular-locale_ja-jp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
    <script src="./js/app.js"></script>
</head>
<body class="page page-index-static">

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><span class="navbar-brand">WBPORT.com</span></a>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom:2em;">
    <div id="content">
    <div class="container" ng-controller="Login">
        <!-- Login form -->
        <form name="loginForm" class="form-login form-wrapper form-narrow">
            <h3 class="title-divider"><span>ログイン</span></h3>
            <div class="form-group">
                <label for="login-email-page">メールアドレス</label>
                <input type="email" id="login-email-page" ng-model="email" class="form-control email" ng-required="true">
            </div>
            <div class="form-group">
                <label for="login-password-page">パスワード</label>
                <input type="password" id="login-password-page" ng-model="password" class="form-control password" ng-required="true">
            </div>
            <span class="text-danger" ng-show="error">{{ error }}<br></span>
            <button ng-click="login()" ng-disabled="!loginForm.$valid" class="btn btn-primary">ログイン</button>
            <a href="../signup.html">新規登録</a>
        </form>
    </div>
</div>
</div>
<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright 2014 &copy; Walbrix Corporation</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline footer-menu">
                    <!--
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                    -->
                    <li><a href="http://www.walbrix.com/jp/contact.html">お問い合わせ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
