<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">パスワードの変更</h4>
</div>
<div class="modal-body">
    <form name="form" class="form-horizontal">
        <div class="form-group" ng-show="info.passwordPresent">
            <label class="col-sm-3 control-label">現在のパスワード</label>
            <div class="col-sm-9" ng-class="{'has-success':(form.password.$valid && form.password.$dirty),'has-error':form.password.$invalid && form.password.$dirty}">
                <input type="password" name="password" ng-model="password" class="form-control" ng-required="info.passwordPresent">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">新しいパスワード</label>
            <div class="col-sm-9" ng-class="{'has-success':(form.newPassword.$valid && form.newPassword.$dirty),'has-error':form.newPassword.$invalid && form.newPassword.$dirty}">
                <input type="password" name="newPassword" ng-model="newPassword" class="form-control" ng-minlength="6" ng-maxlength="32" required>
                6-32文字
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">新しいパスワード(再度)</label>
            <div class="col-sm-9" ng-class="{'has-success':(form.newPassword2.$valid && form.newPassword2.$dirty),'has-error':form.newPassword2.$dirty && (form.newPassword2.$invalid || newPassword != newPassword2)}">
                <input type="password" name="newPassword2" ng-model="newPassword2" class="form-control" required>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-disabled="!form.$valid || newPassword != newPassword2" ng-click="$close({password:password,newPassword:newPassword})">変更する</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">キャンセル</button>
</div>
